[user]
	email = svend.jin@qq.com
	name = Svend
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
[push]
	default = upstream
	followTags = true
[pull]
	rebase = true
[color]
    ui = true
    status = always
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
